body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

.container{
display:flex;
min-height:100vh;
}

.sidebar{
width:220px;
background:#111;
color:white;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar ul li{
padding:10px;
cursor:pointer;
}

.sidebar ul li:hover{
background:#333;
}

.content{
flex:1;
padding:30px;
}

.page{
display:none;
}

.page.active{
display:block;
}

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
}

.produk-table{
width:100%;
border-collapse:collapse;
background:white;
margin-top:20px;
}

.produk-table th,
.produk-table td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

.produk-table th{
background:#eee;
}
.pagination{
margin-top:20px;
}

.pagination button{
padding:6px 12px;
margin:3px;
border:none;
background:#2c3e50;
color:white;
cursor:pointer;
}

.pagination button:hover{
background:#34495e;
}
.pagination{
margin-top:20px;
}

.pagination button{
padding:6px 12px;
margin:3px;
border:none;
background:#2c3e50;
color:white;
cursor:pointer;
border-radius:4px;
}

.pagination button:hover{
background:#34495e;
}
#pagination{
margin-top:20px;
display:flex;
flex-wrap:wrap;
gap:6px;
}

#pagination button{
padding:6px 10px;
border:none;
background:#2c3e50;
color:white;
cursor:pointer;
border-radius:4px;
}

#pagination button:hover{
background:#34495e;
}
.search-wrapper{

margin-bottom:20px;

}

.search-bar{

display:flex;
align-items:center;
background:white;
border-radius:30px;
padding:12px 20px;
width:450px;
box-shadow:0 3px 10px rgba(0,0,0,0.15);

}

.search-bar input{

border:none;
outline:none;
width:100%;
font-size:15px;
margin-left:10px;

}

.search-icon{

font-size:18px;
color:#777;

}
